<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ScenarioSuite" parallel="false">
    <test name="LoginLogoutScenario">
        <classes>
            <class name="login.LoginTests">
                <methods>
                    <include name="testValidCredentials"/>
                </methods>
            </class>
            <class name="home.HomeTests">
                <methods>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="LoginScenarios">
        <classes>
            <class name="login.LoginTests">
                <methods>
                    <exclude name="testValidCredentials">
                    </exclude>
                </methods>
            </class>
        </classes>
    </test>
    <test name="SignUpScenarios">
        <classes>
            <class name="signup.SignupTests">
                <methods>
                    <exclude name="testValidSignUp">
                    </exclude>
                </methods>
            </class>
        </classes>
    </test>
    <test name="SingUp_DeleteAccount">
        <classes>
            <class name="signup.SignupTests">
                <methods>
                    <include name="testValidSignUp">
                    </include>
                </methods>
            </class>
            <class name="home.HomeTests">
                <methods>
                    <include name="testDeleteAccount">
                    </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>
